<div class="d-flex justify-content-center">
  <div class="card mb-3 w-100">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-item-center justify-content-center" style="height: 400px;">
        <img src="{{ viewedUser.image }}" style="height: 100%; width: 100%; object-fit:cover;" alt="user-image">
      </div>
      <div class="col-md-8 p-3">
        <div class="card-body">
          <h3 class="card-title">{{ viewedUser.name }}</h3>
          <p class="card-text">{{ viewedUser.email }}</p>
          {{!-- {{#ifCond user.id viewedUser.id}}
          <a href="/users/{{ viewedUser.id }}/edit" class="btn btn-primary">Edit</a>
          {{/ifCond}} --}}
        </div>
        <div>
          <p><strong>{{comments.length}}</strong> 已評論餐廳</p>
          <p><strong>{{viewedUser.FavoritedRestaurants.length}}</strong> 收藏餐廳</p>
          <p><strong>{{viewedUser.Followings.length}}</strong> followings</p>
          <p><strong>{{viewedUser.Followers.length}}</strong> followers</p>
          {{#ifCond loginUser.id viewedUser.id}}
            <a href="/users/{{ user.id }}/edit" class="btn btn-primary mt-2">Edit</a>
          {{else}}
          {{#if isFollowed }}
            <form action="/following/{{viewedUser.id}}?_method=DELETE" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-danger mt-2">取消追蹤</button>
            </form>
          {{else}}
            <form action="/following/{{viewedUser.id}}" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-primary mt-2">追蹤</button>
            </form>
          {{/if}}
          {{/ifCond}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="card mt-3">
      <h5 class="card-header"><strong>{{viewedUser.Followings.length}}</strong> followings</h5>
      <div class="card-body">
        {{#each viewedUser.Followings}}
        <a href="/users/{{this.id}}" title="{{this.name}}" style="text-decoration: none;">
          {{#if this.image}}
          <img src="{{this.image}}" class="m-3" style="height:100px; width:100px;">
          {{else}}
          <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" width="100px" height="100px" />
          {{/if}}
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<div class="card mt-3">
  <h5 class="card-header"><strong>{{userData.Followers.length}}</strong> followers</h5>
  <div class="card-body">
    {{#each userData.Followers}}
    <a href="/users/{{this.id}}" title="{{this.name}}" style="text-decoration: none;">
      {{#if this.image}}
      <img src="{{this.image}}" class="m-3" style="height:100px; width:100px;">
      {{else}}
      <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" width="100px" height="100px" />
      {{/if}}
    </a>
    {{/each}}
  </div>
</div>


</div>
<div class="card">
  <div class="card-header">
    <b>{{ comments.count }}</b> 已評論過的餐廳
  </div>
  <div class="row card-body">
    {{#each comments.rows}}
    <div class="col-2 p-0 m-2" style="width: 80px; height: 80px;">
      <a href="/restaurants/{{this.Restaurant.id}}"><img src="{{this.Restaurant.image}}"
          style="height: 100%; width: 100%; object-fit:cover;" alt="restaurant-image"></a>
    </div>
    {{/each}}
  </div>
</div>


