<div class="d-flex justify-content-center">
  <div class="card mb-3 w-100">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-item-center justify-content-center" style="height: 400px;">
        <img src="{{ viewedUser.image }}" style="height: 100%; width: 100%; object-fit:cover;" alt="user-image">
      </div>
      <div class="col-md-8 p-3">
        <div class="card-body">
          <h3 class="card-title">{{ viewedUser.name }}</h3>
          <p class="card-text">{{ viewedUser.email }}</p>
          <small class="m-0">{{viewedUser.FavoritedRestaurants.length}} 已收藏餐廳</small>
          <br>
          <small class="m-0">{{comments.length}} 已評論餐廳</small>
          <br>
          <small class="m-0">{{viewedUser.Followers.length}} followers</small>
          <br>
          <small class="m-0">{{viewedUser.Followings.length}} followings</small>
          <br>
          {{#ifCond user.id viewedUser.id}}
          <a href="/users/{{ User.id }}/edit" class="btn btn-primary">Edit</a>
          {{/ifCond}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="card mb-3">
      <div class="card-header">
        {{viewedUser.Followers.length}} followers
      </div>
      <div class="card-body">
        {{#each viewedUser.Followers}}
        <a href="/users/{{this.id}}" style="text-decoration:none">
          <img src="{{this.image}}" alt="{{this.name}}" class="rounded m-2" title="{{this.name}}" width="50"
            height="50">
        </a>
        {{/each}}
        {{#unless viewedUser.Followers.length}}此用戶尚無追隨者{{/unless}}
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        {{viewedUser.Followings.length}} followings
      </div>
      <div class="card-body">
        {{#each viewedUser.Followings}}
        <a href="/users/{{this.id}}" style="text-decoration:none">
          <img src="{{this.image}}" alt="{{this.name}}" class="rounded m-2" title="{{this.name}}" width="50" height="50">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  </div>
    <div class="col-8">
      <div class="card mb-3">
        <div class="card-header">
          {{viewedUser.FavoritedRestaurants.length}} 已收藏餐廳
          </div>
            <div class="card-body">
              {{#each viewedUser.FavoritedRestaurants}}
              <a href="/restaurants/{{this.id}}" style="text-decoration:none">
                <img src="{{this.image}}" class="rounded m-2" title="{{this.name}}" width="50" height="50">
              </a>
              {{/each}}
            </div>
          </div>
        </div>
        
      <div class="card mb-3">
        <div class="card-header">
          {{comments.length}} 已評論餐廳
        </div>
        <div class="card-body">
          {{#each comments}}
          <a href="/restaurants/{{this.Restaurant.id}}" style="text-decoration:none">
            <img src="{{this.Restaurant.image}}" class="rounded m-2" title="{{this.Restaurant.name}}" width="50"
              height="50">
          </a>
          {{/each}} 
        </div>
      </div>
  </div>
</div>

